@import "../../style/config.scss";

.patient-list {
    overflow  : auto;
    overflow  : overlay;
    // overflow-X: hidden;
    flex      : 1 1 0%;
    margin    : 0 0 -1px;
    // display: block;
    // z-index: 2;
    // transform: translateZ(1px);
    // box-shadow: 1px 0 0 #CCC;
    // -webkit-overflow-scrolling: auto;
    // scroll-behavior: auto;

    // > div {
    //     display: flex;
    //     flex-direction: column;
    //     flex: 1 0 0px;
    // }

    &.has-message {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        white-space: pre-wrap;
    }

    > .patient {
        /* height: 50px; */
        padding: 0.75rem 1.5rem 0.75rem 4.5rem;
        display: flex;
        flex-direction: column;
        flex: 1 0 0px;
        justify-content: center;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #EEE;
        cursor: default;
        line-height: 1.4rem;
        position: relative;
        font-size: 1rem;
        text-decoration: none;
        height: 70px;
        
        .avatar {
            display      : block;
            top          : 50%;
            left         : 0.75rem;
            width        : 3rem;
            height       : 3rem;
            line-height  : 3rem;
            margin       : -1.5rem 0 0 0;
            background   : linear-gradient(rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.25));
            position     : absolute;
            border-radius: 50%;
            box-shadow   : 0 0 0 3px #fff;
            text-align   : center;
            font-weight  : bold;
            text-shadow  : none;
            color        : #FFF;
        }
  
        &:after {
            content: "\e258";
            position: absolute;
            top: 50%;
            right: 1.5rem;
            /* display: inline-block; */
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            margin-top: -0.5rem;
            color: #666;
            opacity: 0.3;
            font-size: 1rem;
            text-shadow: none;;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background: #EEE;
            border-color: #EEE;
            text-shadow: 0 1px 0 #FFF;
        }

        &.selected {
            background: $color-blue;
            color: #FFF;
            border-color: rgba(0, 0, 0, 0.1);
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

            &:after {
                color: #FFF;
                opacity: 0.5;
            }

            .avatar {
                // box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
                background: $color-orange;
            }

            .text-muted {
                // color: mix($color-blue, #FFF, 35%);
                color: mix($color-blue, #000, 40%);
                text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
            }
        }

        .label {
            text-shadow: none;
        }
    }
    
    > .center {
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family: monospace; */
        /* white-space: pre-wrap; */
        /* flex: 1; */
        background: #E9E9E9;
        /* flex-direction: column; */
        height: 100%;
    }
}

.patient-header {
    background: #EEE;
    border-bottom: 1px solid #BBB;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 3em;
    // box-shadow: 1px 0 0 #CCC;
    z-index: 2;

    > div {
        margin: 5px;
        /* box-shadow: 0 0 0 1px #369 inset; */
        justify-content: center;
        align-items: center;
        display: flex;
        white-space: nowrap;
    }

    .search-input-wrap {
        position: relative;
        .clear-search {
            font-family: 'Glyphicons Halflings';
            font-size: 1em;
            position: absolute;
            top: 50%;
            right: 0;
            height: 1.4em;
            width: 1.4em;
            line-height: 1.23em;
            margin: -0.7em 0.33em 0 0;
            border-radius: 100%;
            color: #FFF;
            background: #CCC;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            transition: all 0.4s;
            pointer-events: none;

            &:before {
                content: "\e014";
                font-size: 0.8em;
                line-height: inherit;
            }
        }

        &.has-search {
            .clear-search {
                opacity: 1;
                pointer-events: all;
            }

            &:hover .clear-search {
                background: $color-orange;
                &:hover {
                    background: $color-orange;
                }
            }
        }
    }
    input[type="search"] {
        border-radius: 3rem;
        width: 100%;
        min-width: 150px;
        max-width: 600px;
        padding-right: 1.8em;
    
        &:focus {
            border-color: #369;
            box-shadow: 0 0 2px 2px #DDD, 0 0 0 2px #369;
            outline: 0;
        }
    }

    select, select:focus {
        background: transparent;
        border-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        appearance: none;
        padding: 0;
        vertical-align: middle;
        line-height: inherit;
    }
}
