@import "../../style/config.scss";


.checkbox-wrap {
    display: inline-block;
    vertical-align: text-top;
    line-height: 0em;
    margin: 0;
    cursor: default;
    user-select: none;

    .checkbox {
        display       : inline-block;
        width         : 2ex;
        height        : 2ex;
        vertical-align: middle;
        margin        : 0;
        border-radius : 3px;
        position      : relative;
        box-shadow    : 0 0 0 1px rgba(0, 0, 0, 0.4) inset;
        background    : rgba(255, 255, 255, 0.5);
    }

    &.checked .checkbox {
        background: $color-orange;
        box-shadow    : 0 0 0 1px rgba(0, 0, 0, 0.15) inset;

        &:after {
            content: "✔";
            color: #FFF;
            position: relative;
            z-index: 2;
            font-size: 2.5ex;
            line-height: 1.1ex;
            left: 0;
            top: 0.25ex;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
        }
    }

    &.indeterminate .checkbox {
        &:after {
            content   : "";
            // background: #999;
            position  : absolute;
            top: 35%;
            right: 17%;
            bottom: 35%;
            left: 17%;
            border-radius: 1px;
            box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.3) inset,
                        0px 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
        }
    }

    .checkbox-label {
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        margin: 0;
        text-indent: 0.5ch;
    }
}
