@import "../../style/config.scss";


.checkbox-wrap {
    display    : inline-block;
    line-height: inherit;
    cursor     : default;
    user-select: none;

    .checkbox {
        display       : inline-block;
        width         : 2ex;
        height        : 2ex;
        vertical-align: baseline;
        margin        : 0;
        border-radius : 3px;
        position      : relative;
        top           : 0.15em;
        background    : #f4f2ef;
        border        : 1px solid rgba(82, 79, 75, 0.5);
    }

    &.checked .checkbox {
        background: $color-orange;
        border-color: rgba(0, 0, 0, 0.15);

        &:after {
            content: "";
            // content: "✔";
            // color: #FFF;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            // font-size: 2ex;
            // line-height: 1.1ex;
            // left: 0.1em;
            // top: 0.24em;
            // text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
            // background: $color-orange;
            background: url("checked.svg") center center no-repeat;
            background-size: 100%;
        }
    }

    &.indeterminate .checkbox {
        background: #EEE;
        &:after {
            content   : "";
            // background: #CCC;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            // top: 35%;
            // right: 17%;
            // bottom: 35%;
            // left: 17%;
            // border-radius: 1px;
            // box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.3) inset,
            //             0px 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
            background: url("indeterminate.svg") center center no-repeat;
            background-size: 100%;
        }
    }

    .checkbox-label {
        display: inline;
        margin: 0;
        padding-left: 0.5ch;
        white-space: normal;
    }
}
