.app-footer {
    background: #E9E9E9;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    color: #666;
    font-size: 0.8rem;
    display: flex;
    border-top: 1px solid #CCC;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 1px 0 0 #CCC;
    z-index: 2;
  }