
.selected .text-muted {
  color: rgba(255, 255, 255, 0.5);
}


.chart {
  display: inline-block;
  margin: 1rem;
}

.form-control {
  font: inherit;
}

/* ========================================================================== */
.app {
  display: flex;
  flex: 1 0 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: stretch; */
}

.page {
  /* height: 100%; */
  /* position: fixed; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all 0.2s ease-out;
}


.page.patients {
  flex: 0 1 400px;
  /* z-index: 2;
  background: #FFF; */
}

@media (max-width: 1023px) {
  .app {
    display: flex;
    flex: 1 0 100vh;
    /* flex-direction: column; */
  }
  .page {
    width: 100%;
    min-width: 100%;
    /* opacity: 1; */
    /* position: relative; */
    /* z-index: 1;
    background: #FFF; */
  }

  .page.detail-view.active {
    transform: translateX(-100vw);
    /* opacity: 0; */
    /* z-index: 2;
    position: relative; */
  }
  .page.detail-view.active .back-link {
    visibility: visible;
  }
  .page.patients:not(.active) {
    transform: translateX(-100vw);
    /* opacity: 0; */
  }

  /* 
  .page.active {
    transform: translateX(0);
  }

  .page.patients {
    flex: 1 1 0;
  }


  .page.detail-view {
    transform: translateX(-100vw);
  }
  .page.patients {
    flex: 0 1 490px;
  } */
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: monospace; */
  /* white-space: pre-wrap; */
  /* flex: 1; */
  /* background: #E9E9E9; */
  flex-direction: column;
  /* height: 100%; */
  flex: 1;
}

/* ---------------------------- app-header ---------------------------------- */
.app-header {
  background: #369;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  color: #FFF;
  /* font-size: 2rem; */
  display: flex;
  margin: 0;
}
.app-header > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.app-header h1 {
  line-height: 4rem;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}



.search-match {
  background: #ffe9a1;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3) inset;
  border-radius: 2px;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
}