.grid-wrapper {
  max-height: 50vh;
  position  : relative;
  overflow  : auto;
  border    : 1px solid #999;
}

.grid {
  width: 100%;
  border-collapse: collapse;
  /* table-layout: fixed; */
  font-size: 12px;
  border: 0px none;
}

.grid thead tr th {
  position: sticky;
  top: 0px;
  background: #E6E6E6;
  /* box-shadow: 0 1px 0 0.5px #999, 0 -1px 0 0.5px #999, 1px 1px 0 0 #EEE inset; */
  text-shadow: 0 1px 0 #FFF;
  box-shadow: -1px -1px 0 0 #999 inset, 1px 1px 0 0 #FFF inset;
}

.grid th {
  border: 0; }
  .grid tr:first-child th:first-child {
    box-shadow: -1px -1px 0 0 #999 inset, 0px 1px 0 0 #FFF inset;
  }
  .grid th:last-child {
    box-shadow: 0px -1px 0 0 #999 inset, 1px 1px 0 0 #FFF inset;
  }

.grid td {
  border: 0;
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.2) inset;}
  .grid td:first-child {
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.2) inset, 0px 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  }
  .grid td:last-child {
    box-shadow: 0px -1px 0 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  }



.grid thead tr + tr th {
  top: 17px;
  /* box-shadow: 0 1px 0 0.5px #999, 1px 1px 0 0 #EEE inset; */
}

.grid td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid td.text-left {
  text-align: left;
}

.grid td.empty-body {
  text-align: center;
  padding: 1rem;
  white-space: normal;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.grid tr.selected td {
  background: #369;
  color: #FFF;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.chart {
  display: inline-block;
  margin: 1rem;
}